# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np
import pandas as pd
import requests
import math
import xlsxwriter

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [62]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

## Acquiring an API Token

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a `secrets.py` file that doesn't get pushed to your local Git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randomly-generated and (more importantly) has no cost associated with it.

[Click here](http://nickmccullum.com/algorithmic-trading-python/secrets.py) to download your `secrets.py` file. Move the file into the same directory as this Jupyter Notebook before proceeding.

In [15]:
import yfinance as yf

## Making Our First API Call

Now it's time to structure our API calls to IEX cloud. 

We need the following information from the API:

* Market capitalization for each stock
* Price of each stock

In [101]:
tickerSymbol = 'AAPL'
tickerData = yf.Ticker(tickerSymbol)

# Get the historical prices for this ticker
tickerDf = tickerData.history(period='1d', start='2024-05-09', end='2024-05-10')
marketCap= tickerData.info['marketCap']


price= tickerDf['Low']

# See your data

182.11000061035156

## Parsing Our API Call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy. 

With that said, the data isn't in a proper format yet. We need to parse it first.

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [38]:
my_columns=['ticker', 'price', 'marketCap', 'sharesToBuy']
df= pd.DataFrame(columns=my_columns)
df

Empty DataFrame
Columns: [ticker, price, marketCap, sharesToBuy]
Index: []

In [102]:
new_row={'price':price,'ticker':tickerSymbol ,'marketCap':marketCap,'sharesToBuy':np.nan}
df = df._append(new_row, ignore_index = True)
df = df.head(0)
df

Empty DataFrame
Columns: [ticker, price, marketCap, sharesToBuy]
Index: []

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [103]:
for stock in stocks['Ticker'][:300]:
    print("stock is", stock)
    tickerSymbol = stock
    tickerData = yf.Ticker(tickerSymbol)    
    # Get the historical prices for this ticker
    tickerDf = tickerData.history(period='1d', start='2024-05-09', end='2024-05-10')
    if(len(tickerDf)==0):
        continue
    marketCap= tickerData.info['marketCap']
    price= tickerDf['Open']
    price = price.iloc[-1]
    new_row={'price':price,'ticker':tickerSymbol ,'marketCap':marketCap,'sharesToBuy':np.nan}
    df = df._append(new_row, ignore_index = True)

df

stock is A

/var/folders/0r/w0c5h8sd4cx7n5gxq_7hsjhr0000gp/T/ipykernel_43578/3900490967.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = df._append(new_row, ignore_index = True)

stock is AAL
stock is AAP
stock is AAPL
stock is ABBV
stock is ABC

ABC: No timezone found, symbol may be delisted
ABMD: No price data found, symbol may be delisted (1d 2024-05-09 -> 2024-05-10)

stock is ABMD
stock is ABT
stock is ACN
stock is ADBE
stock is ADI
stock is ADM
stock is ADP
stock is ADSK
stock is AEE
stock is AEP
stock is AES
stock is AFL
stock is AIG
stock is AIV
stock is AIZ
stock is AJG
stock is AKAM
stock is ALB
stock is ALGN
stock is ALK
stock is ALL
stock is ALLE
stock is ALXN

ALXN: No timezone found, symbol may be delisted

stock is AMAT
stock is AMCR
stock is AMD
stock is AME
stock is AMGN
stock is AMP
stock is AMT
stock is AMZN
stock is ANET
stock is ANSS
stock is ANTM

ANTM: No timezone found, symbol may be delisted

stock is AON
stock is AOS
stock is APA
stock is APD
stock is APH
stock is APTV
stock is ARE
stock is ATO
stock is ATVI

ATVI: No timezone found, symbol may be delisted

stock is AVB
stock is AVGO
stock is AVY
stock is AWK
stock is AXP
stock is AZO
stock is BA
stock is BAC
stock is BAX
stock is BBY
stock is BDX
stock is BEN

BF.B: Period '1d' is invalid, must be one of ['1mo', '3mo', '6mo', 'ytd', '1y', '2y', '5y', '10y', 'max']

stock is BF.B
stock is BIIB
stock is BIO
stock is BK
stock is BKNG
stock is BKR
stock is BLK
stock is BLL

BLL: No timezone found, symbol may be delisted

stock is BMY
stock is BR
stock is BRK.B

BRK.B: No timezone found, symbol may be delisted

stock is BSX
stock is BWA
stock is BXP
stock is C
stock is CAG
stock is CAH
stock is CARR
stock is CAT
stock is CB
stock is CBOE
stock is CBRE
stock is CCI
stock is CCL
stock is CDNS
stock is CDW
stock is CE
stock is CERN

CERN: No timezone found, symbol may be delisted

stock is CF
stock is CFG
stock is CHD
stock is CHRW
stock is CHTR
stock is CI
stock is CINF
stock is CL
stock is CLX
stock is CMA
stock is CMCSA
stock is CME
stock is CMG
stock is CMI
stock is CMS
stock is CNC
stock is CNP
stock is COF
stock is COG

COG: No timezone found, symbol may be delisted

stock is COO
stock is COP
stock is COST
stock is COTY
stock is CPB
stock is CPRT
stock is CRM
stock is CSCO
stock is CSX
stock is CTAS
stock is CTL

CTL: No timezone found, symbol may be delisted

stock is CTSH
stock is CTVA
stock is CTXS

CTXS: No timezone found, symbol may be delisted

stock is CVS
stock is CVX
stock is CXO

CXO: No timezone found, symbol may be delisted

stock is D
stock is DAL
stock is DD
stock is DE
stock is DFS
stock is DG
stock is DGX
stock is DHI
stock is DHR
stock is DIS
stock is DISCA

DISCA: No timezone found, symbol may be delisted

stock is DISCK

DISCK: No timezone found, symbol may be delisted

stock is DISH

DISH: No timezone found, symbol may be delisted

stock is DLR
stock is DLTR
stock is DOV
stock is DOW
stock is DPZ
stock is DRE

DRE: No timezone found, symbol may be delisted

stock is DRI
stock is DTE
stock is DUK
stock is DVA
stock is DVN
stock is DXC
stock is DXCM
stock is EA
stock is EBAY
stock is ECL
stock is ED
stock is EFX
stock is EIX
stock is EL
stock is EMN
stock is EMR
stock is EOG
stock is EQIX
stock is EQR
stock is ES
stock is ESS
stock is ETFC

ETFC: No timezone found, symbol may be delisted

stock is ETN
stock is ETR
stock is EVRG
stock is EW
stock is EXC
stock is EXPD
stock is EXPE
stock is EXR
stock is F
stock is FANG
stock is FAST
stock is FB

FB: No timezone found, symbol may be delisted

stock is FBHS

FBHS: No timezone found, symbol may be delisted

stock is FCX
stock is FDX
stock is FE
stock is FFIV
stock is FIS
stock is FISV

KeyError: 'marketCap'

In [104]:
df

    ticker       price      marketCap sharesToBuy
0        A  143.110001    43835166720         NaN
1      AAL   14.360000     9446776832         NaN
2      AAP   74.540001     4478461440         NaN
3     AAPL  182.559998  2799316500480         NaN
4     ABBV  160.809998   283845951488         NaN
..     ...         ...            ...         ...
159    FCX   50.070000    74065428480         NaN
160    FDX  258.179993    65133944832         NaN
161     FE   39.470001    23055173632         NaN
162   FFIV  171.539993    10077643776         NaN
163    FIS   74.320000    41223761920         NaN

[164 rows x 4 columns]

## Using Batch API Calls to Improve Performance

Batch API calls are one of the easiest ways to improve the performance of your code.

This is because HTTP requests are typically one of the slowest components of a script.

Also, API providers will often give you discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

In [107]:
df

    ticker       price      marketCap sharesToBuy
0        A  143.110001    43835166720         NaN
1      AAL   14.360000     9446776832         NaN
2      AAP   74.540001     4478461440         NaN
3     AAPL  182.559998  2799316500480         NaN
4     ABBV  160.809998   283845951488         NaN
..     ...         ...            ...         ...
159    FCX   50.070000    74065428480         NaN
160    FDX  258.179993    65133944832         NaN
161     FE   39.470001    23055173632         NaN
162   FFIV  171.539993    10077643776         NaN
163    FIS   74.320000    41223761920         NaN

[164 rows x 4 columns]

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [115]:
#position size is basically the wt assigned to each sotck, in this case its an equal weighted s&p 500 index, hence 
portfolio_size = input("enter the amount of money you want to invest")
value = float(portfolio_size)
position_size= value / len(df.index)


position_size


for i in range(0, len(df.index)):
    df.loc[i,'sharesToBuy']=math.floor(position_size/ df.loc[i,'price'])
    ##print(df.loc[i,'sharesToBuy']
    
df

enter the amount of money you want to invest 1000000

    ticker       price      marketCap sharesToBuy
0        A  143.110001    43835166720          42
1      AAL   14.360000     9446776832         424
2      AAP   74.540001     4478461440          81
3     AAPL  182.559998  2799316500480          33
4     ABBV  160.809998   283845951488          37
..     ...         ...            ...         ...
159    FCX   50.070000    74065428480         121
160    FDX  258.179993    65133944832          23
161     FE   39.470001    23055173632         154
162   FFIV  171.539993    10077643776          35
163    FIS   74.320000    41223761920          82

[164 rows x 4 columns]

In [111]:
df

    ticker       price      marketCap sharesToBuy
0        A  143.110001    43835166720           0
1      AAL   14.360000     9446776832           0
2      AAP   74.540001     4478461440           0
3     AAPL  182.559998  2799316500480           0
4     ABBV  160.809998   283845951488           0
..     ...         ...            ...         ...
159    FCX   50.070000    74065428480           0
160    FDX  258.179993    65133944832           0
161     FE   39.470001    23055173632           0
162   FFIV  171.539993    10077643776           0
163    FIS   74.320000    41223761920           0

[164 rows x 4 columns]

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

### Initializing our XlsxWriter Object

In [133]:
writer= pd.ExcelWriter('modified_trades.xlsx',engine='xlsxwriter')
df.to_excel(writer,sheet_name='Rec trades', index= False)
writer.close()

### Creating the Formats We'll Need For Our `.xlsx` File

Formats include colors, fonts, and also symbols like `%` and `$`. We'll need four main formats for our Excel document:
* String format for tickers
* \\$XX.XX format for stock prices
* \\$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

### Applying the Formats to the Columns of Our `.xlsx` File

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

```python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_template #This applies the format 'string_template' to the column
                    )
```

This code works, but it violates the software principle of "Don't Repeat Yourself". 

Let's simplify this by putting it in 2 loops:

## Saving Our Excel Output

Saving our Excel file is very easy: